body, ul, li{
  list-style:none;
  margin:0;
  padding:0;
}

a{
  text-decoration:none;
  color:inherit;
}

.main-wrap {
  margin : 0;
  padding : 0;
}

.content-wrap {
  display : flex;
}

.locationlist {
    background : azure;
    width : 30%;
    height : 750px;
}
.mapside {
    background : bisque;
    width : 70%;
    height : 750px;
}