body, ul, li{
  list-style:none;
  margin:0;
  padding:0;
}

a{
  text-decoration:none;
  color:inherit;
}

.main-wrap {
  margin : 0;
  padding : 0;
}

.content-wrap {
  display : flex;
}

.locationlist {
    background : azure;
    width : 30%;
    height : 750px;
}
.mapside {
    background : bisque;
    width : 70%;
    height : 750px;
}

.wrap {
	position:absoulte;
	height:280px;
	width:160px;
	margin-bottom:800px;
	border: solid #F2F2F2 2px;
	border-radius: 15px;
	background: #fff;
}

.classimg {
	height :160px;
	width:160px;
}

.classinfo {
	padding:5px;
}

.classtitle {
	display: inline-block;
	white-space: normal;
	overflow:hidden;
	text-overflow: ellipsis;
	line-height:1.5;
	height:3.0em
}


.classpay {
	display: inline-block;
	line-height:1.5
}

.classse {
	display: inline-block;
	float:right;
	line-height:1.5;
}