<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div class = "m-5">
        <h1 class="mb-5"><b> 소개 </b></h1>
        <h2 class="mb-4"><b> 1. 서비스 아이디어 </b></h2>
        <h3 class="mb-5 lh-base">
            걷기 운동을 장려하기 위해 만든 서비스 입니다. <br>
            목표지점은 현재 관리자만 설정할 수 있으며 목표지점에 도달할 경우 다양한 보상을 얻을 수 있습니다  <br>
            향후 이용자의 아바타가 생성될 예정이며 목표지점에 도달시 사용자의 아바타의 능력치를 향상시킵니다 <br>
            또한 플랫폼내에서 이용가능한 포인트 획득 및 낮은 확률로 실물 보상을 획득하실 수 있습니다. <br>
        </h3>
        <h2 class="mb-4"><b> 2. 사용 방법 </b></h2>
        <h3 class="mb-5 lh-base">
            현재 회원가입과 로그인/로그아웃은 제공되나 임시서비스이므로 다른 사이트에서 사용하는 개인정보를 입력하지 마세요 <br>
            로그인을 하시면 즐겨찾기 메뉴에서 본인의 장소를 집, 회사, 즐겨찾기의 카테고리로 나누어 등록할 수 있습니다. <br>
            즐겨찾기 탭에서는 본인이 등록한 장소에 대한 CRUD 기능이 제공됩니다. <br>
            모험하기 탭에서는 출발지점을 선택할 수 있으며 카카오 지도 API의 지도검색 기능을 이용해 <br>
            검색된 장소의 마커를 클릭하면 출발지와 도착지를 설정하실 수 있습니다 <br>
            미션탐색을 하기 위해서는 출발지가 반드시 필요합니다. <br>
            미션장소는 출발지를 기준으로 하버사인 공식(Haversine formula)을 통해 산출된 직선거리 5km 이내의 장소가 출력됩니다 <br>
            미션장소의 마커를 누르면 도착지로 설정하실 수 있고 출발지와 도착지를 설정한 상태에서 <br>
            탐험하기를 누르시면 카카오지도를 기반으로 한 도보경로를 안내합니다. <br>
            예상 소요시간 및 소모칼로리(성인기준 4km/h)가 제공됩니다. <br>
        </h3>
        <h2 class="mb-4"><b> 3. 향후 개발방향 </b></h2>
        <h3 class="mb-5 lh-base">
            향후 안드로이드 어플리케이션과 연동되어 GPS 기반 위치정보를 실시간으로 탐색하여 <br>
            사용자가 출발지점부터 목표지점까지 걷기 행위를 통해 도달했을 때만 보상을 지급하는 알고리즘을 적용 예정입니다 <br>
            또한 사용자의 아바타 관련 기능이 추가될 예정입니다 <br>
        </h3>
    </div>
</div>
</body>
</html>