<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div layout:fragment="content">
        <div style="text-align:center; margin-top:50px;">
        <a th:href = "@{/search}"><img src = "/main_images.jpg" width="1040" height="420" style="border-top-left-radius:15px; border-top-right-radius:15px;"> </a>
        <h2> Welcome To GreenWalker </h2>
        <h2> 오늘도 좋은 하루 되세요 </h2>
        </div>
    </div>
</body>
</html>