<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title> 그린워커에 오신 것을 환영합니다 </title>
    <link rel="stylesheet" href="/searchwindow.css">
</head>
<body>
<div layout:fragment="content">
    <div class="main-wrap">
        <div class="content-wrap">
            <div class="locationlist">

                <div>
                    <div>
                        <select class="defaultstarting form-select form-select-lg mb-3" aria-label="Large select example">
                            <option selected> 출발지점을 선택해주세요 </option>
                            <option value="home"> 집 </option>
                            <option value="company"> 회사 </option>
                            <option value="favorite"> 즐겨찾기 </option>
                        </select>
                    </div>
                    <div>
                        출발지점 <input type="text" id="pstarting" name="pstarting">
                        <button id = "selectstarting"> 출발지점설정 </button>
                        <input type="text" id="pname1" name="pname1" value="">
                        <input type="text" id="paddress1" name="paddress1" value="">
                        <input type="text" id="latclick1" name="latclick1" value="">
                        <input type="text" id="lngclick1" name="lngclick1" value="">
                    </div>
                    <div>
                        탐색하고자 하는 반경거리를 입력해주세요 <br/>
                        <select class="navradius form-select form-select-lg mb-3" aria-label="Large select example">
                            <option selected> 탐색반경을 입력해주세요 </option>
                            <option value="1"> 1km </option>
                            <option value="3"> 3km </option>
                            <option value="5"> 5km </option>
                            <option value="10"> 10km </option>
                            <option value="15"> 15km </option>
                        </select>
                    </div>
                    <div>
                        도착지점 <input type="text" id="pdestination" name="pdestination">
                        <button id = "selectdestination"> 도착지점설정 </button>
                        <input type="text" id="pname2" name="pname2" value="">
                        <input type="text" id="paddress2" name="paddress2" value="">
                        <input type="text" id="latclick2" name="latclick2" value="">
                        <input type="text" id="lngclick2" name="lngclick2" value="">
                    </div>
                    <div>
                        출발지점부터 목적지까지의 거리 </br>
                        <input type="text" id="pdistance" name="pdistance" >
                    </div>
                    <div>
                        <button id = "adventure"> 탐험하기 </button>
                    </div>
                </div>
                    <div>
                        <!-- 위도 및 경도 좌표 및 위치정보 -->
                        현재 선택한 장소
                        <input type="text" id="fulladdress" name="fulladdress" style="width:100%;" disabled>
                        <input type="text" id="pname" name="pname" value="" disabled>
                        <input type="text" id="paddress" name="paddress" value="" disabled>
                        <input type="text" id="latclick" name="latclick" value="" disabled>
                        <input type="text" id="lngclick" name="lngclick" value="" disabled>
                    </div>

            </div>
            <div class="mapside">
                <div id="wrapper">

                    <div class="map_wrap">
                        <div id="map" style="width:100%;height:100%;position:relative;overflow:hidden;"></div>
                        <div id="menu_wrap" class="bg_white">
                            <div class="option">
                                <div>
                                    키워드 : <input type="text" value="대전IT 아카데미" id="keyword" size="15">
                                    <button onclick="searchPlaces(); return false;">검색하기</button>
                                </div>
                            </div>
                            <hr>
                            <ul id="placesList"></ul>
                            <div id="pagination"></div>
                        </div>
                    </div>

                    <script type="text/javascript"
                            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c643afa51aa20879e433287a3b49c7a7&libraries=services"></script>
                    <script>
                        // 마커를 담을 배열입니다
                        var markers = [];

                        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                            mapOption = {
                                center: new kakao.maps.LatLng(36.352646, 127.343724), // 지도의 중심좌표 (현재 유성온천역)
                                level: 3 // 지도의 확대 레벨
                            };

                        // 지도를 생성합니다
                        var map = new kakao.maps.Map(mapContainer, mapOption);

                        // HTML5의 geolocation으로 사용할 수 있는지 확인합니다
                        if (navigator.geolocation) {

                            // GeoLocation을 이용해서 접속 위치를 얻어옵니다
                            navigator.geolocation.getCurrentPosition(function(position) {

                                var lat = position.coords.latitude, // 위도
                                    lon = position.coords.longitude; // 경도

                                var locPosition = new kakao.maps.LatLng(lat, lon) // geolocation으로 얻어온 좌표
                                presentPosition=locPosition;

                                map.setCenter(locPosition);

                              }, function(error) {

                              // GeoLocation 허용하지 않았을 때.
                                    alert('GPS 기능이 활성화되지 않았습니다.');
                                    var locPosition = new kakao.maps.LatLng(36.352646, 127.343724) // 지도의 중심좌표 (현재 유성온천역)
                                    presentPosition=locPosition;
                                    map.setCenter(locPosition);

                              });
                        }


                        // 장소 검색 객체를 생성합니다
                        var ps = new kakao.maps.services.Places();

                        // 검색 결과 목록이나 마커를 클릭했을 때 장소명을 표출할 인포윈도우를 생성합니다 (마커기준 z방향으로 1떨어진 위치)
                        var infowindow = new kakao.maps.InfoWindow({zIndex:1});

                        // 키워드로 장소를 검색합니다
                        searchPlaces();

                        // 키워드 검색을 요청하는 함수입니다
                        function searchPlaces() {

                            var keyword = document.getElementById('keyword').value;

                            if (!keyword.replace(/^\s+|\s+$/g, '')) {
                                alert('키워드를 입력해주세요!');
                                return false;
                            }

                            // 장소검색 객체를 통해 키워드로 장소검색을 요청합니다
                            ps.keywordSearch(keyword, placesSearchCB);
                        }

                        // 장소검색이 완료됐을 때 호출되는 콜백함수 입니다
                        function placesSearchCB(data, status, pagination) {
                            if (status === kakao.maps.services.Status.OK) {

                                // 정상적으로 검색이 완료됐으면
                                // 검색 목록과 마커를 표출합니다
                                displayPlaces(data);

                                // 페이지 번호를 표출합니다
                                displayPagination(pagination);

                            } else if (status === kakao.maps.services.Status.ZERO_RESULT) {

                                alert('검색 결과가 존재하지 않습니다.');
                                return;

                            } else if (status === kakao.maps.services.Status.ERROR) {

                                alert('검색 결과 중 오류가 발생했습니다.');
                                return;

                            }
                        }

                        // 검색 결과 목록과 마커를 표출하는 함수입니다
                        function displayPlaces(places) {

                            var listEl = document.getElementById('placesList'),
                            menuEl = document.getElementById('menu_wrap'),
                            fragment = document.createDocumentFragment(),
                            bounds = new kakao.maps.LatLngBounds(),
                            listStr = '';

                            // 검색 결과 목록에 추가된 기존 항목들을 제거합니다
                            removeAllChildNods(listEl);

                            // 지도에 표시되고 있는 기존 마커를 제거합니다
                            removeMarker();

                            for ( var i=0; i < places.length; i++ ) {

                                // 마커를 생성하고 지도에 표시합니다
                                var placePosition = new kakao.maps.LatLng(places[i].y, places[i].x),
                                    marker = addMarker(placePosition, i),
                                    itemEl = getListItem(i, places[i]); // 검색 결과 항목 Element를 생성합니다

                                // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
                                // LatLngBounds 객체에 좌표를 추가합니다
                                bounds.extend(placePosition);

                                // 마커와 검색결과 항목에 mouseover 했을때
                                // 해당 장소에 인포윈도우에 장소명을 표시합니다
                                // mouseout 했을 때는 인포윈도우를 닫습니다
                                // 마커, 장소이름(기본예제의 title), 도로명주소, 지번주소명, 위도(세로선), 경도(가로선)
                                (function(marker, pname, praddress, paddress, plat, plng) {

                                    // 마우스로 마커를 클릭하면 발생하는 이벤트
                                    kakao.maps.event.addListener(marker, 'click', function() {

                                            // 1. 길찾기 Get쿼리 추가 (탐험하기로 통합)

                                    })

                                    // 마우스를 마커 위에 두면 발생하는 이벤트
                                    kakao.maps.event.addListener(marker, 'mouseover', function() {
                                        displayInfowindow(marker, pname);
                                    });

                                    // 마우스를 마커 밖으로 옮기면 발생하는 이벤트
                                    kakao.maps.event.addListener(map, 'mouseout', function() {
                                        infowindow.close();
                                    });

                                    // 리스트의 아이템을 클릭하면 발생하는 이벤트
                                    itemEl.onclick = function() {
                                        // 1. 주소 정보들을 text 영역으로 전송 (hidden 사용)
                                        if (praddress) {
                                        document.getElementById('fulladdress').value = "[" + pname + "]" + praddress;
                                        } else {
                                        document.getElementById('fulladdress').value = "[" + pname + "]" + paddress;
                                        }

                                        document.getElementById('pname').value = pname;
                                        if (praddress) {
                                            document.getElementById('paddress').value = praddress;
                                        } else {
                                            document.getElementById('paddress').value = paddress;
                                        }
                                        document.getElementById('latclick').value = plat;
                                        document.getElementById('lngclick').value = plng;


                                       // 2. 길찾기 Get쿼리 추가 (탐험하기로 통합)

                                    };

                                    // 아이템 리스트에 마우스를 올리면 발생하는 이벤트
                                    itemEl.onmouseover =  function () {
                                        displayInfowindow(marker, pname);
                                    };

                                    // 아이템 리스트에서 마우스를 제거하면 발생하는 이벤트
                                    itemEl.onmouseout =  function () {
                                        infowindow.close();
                                    };

                                })(marker, places[i].place_name, places[i].road_address_name, places[i].address_name, places[i].y, places[i].x);

                                fragment.appendChild(itemEl);
                            }

                            // 검색결과 항목들을 검색결과 목록 Elemnet에 추가합니다
                            listEl.appendChild(fragment);
                            menuEl.scrollTop = 0;

                            // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
                            map.setBounds(bounds);
                        }

                        // 검색결과 항목을 Element로 반환하는 함수입니다
                        function getListItem(index, places) {

                            var el = document.createElement('li'),
                            itemStr = '<span class="markerbg marker_' + (index+1) + '"></span>' +
                                        '<div class="info" style="cursor:pointer;">' +
                                        '   <h5>' + places.place_name + '</h5>';

                            if (places.road_address_name) {
                                itemStr += '    <span>' + places.road_address_name + '</span>' +
                                            '   <span class="jibun gray">' +  places.address_name  + '</span>';
                            } else {
                                itemStr += '    <span>' +  places.address_name  + '</span>';
                            }
                              itemStr += '  <span class="tel">' + places.phone + '</span>'; +
                                        '</div>';

                            el.innerHTML = itemStr;
                            el.className = 'item';

                            return el;
                        }


                        // 마커를 생성하고 지도 위에 마커를 표시하는 함수입니다
                        function addMarker(position, idx, title) {
                            var imageSrc = 'https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png', // 마커 이미지 url, 스프라이트 이미지를 씁니다
                                imageSize = new kakao.maps.Size(36, 37),  // 마커 이미지의 크기
                                imgOptions =  {
                                    spriteSize : new kakao.maps.Size(36, 691), // 스프라이트 이미지의 크기
                                    spriteOrigin : new kakao.maps.Point(0, (idx*46)+10), // 스프라이트 이미지 중 사용할 영역의 좌상단 좌표
                                    offset: new kakao.maps.Point(13, 37) // 마커 좌표에 일치시킬 이미지 내에서의 좌표
                                },
                                markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imgOptions),
                                    marker = new kakao.maps.Marker({
                                    position: position, // 마커의 위치
                                    image: markerImage
                                });

                            marker.setMap(map); // 지도 위에 마커를 표출합니다
                            markers.push(marker);  // 배열에 생성된 마커를 추가합니다

                            return marker;
                        }

                        // 지도 위에 표시되고 있는 마커를 모두 제거합니다
                        function removeMarker() {
                            for ( var i = 0; i < markers.length; i++ ) {
                                markers[i].setMap(null);
                            }
                            markers = [];
                        }

                        // 검색결과 목록 하단에 페이지번호를 표시는 함수입니다
                        function displayPagination(pagination) {
                            var paginationEl = document.getElementById('pagination'),
                                fragment = document.createDocumentFragment(),
                                i;

                            // 기존에 추가된 페이지번호를 삭제합니다
                            while (paginationEl.hasChildNodes()) {
                                paginationEl.removeChild (paginationEl.lastChild);
                            }

                            for (i=1; i<=pagination.last; i++) {
                                var el = document.createElement('a');
                                el.href = "#";
                                el.innerHTML = i;

                                if (i===pagination.current) {
                                    el.className = 'on';
                                } else {
                                    el.onclick = (function(i) {
                                        return function() {
                                            pagination.gotoPage(i);
                                        }
                                    })(i);
                                }

                                fragment.appendChild(el);
                            }
                            paginationEl.appendChild(fragment);
                        }

                        // 검색결과 목록 또는 마커를 클릭했을 때 호출되는 함수입니다
                        // 인포윈도우에 장소명을 표시합니다
                        function displayInfowindow(marker, title) {
                            var content = '<div style="padding:5px;z-index:1;">' + title + '</div>';

                            infowindow.setContent(content);
                            infowindow.open(map, marker);
                        }

                         // 검색결과 목록의 자식 Element를 제거하는 함수입니다
                        function removeAllChildNods(el) {
                            while (el.hasChildNodes()) {
                                el.removeChild (el.lastChild);
                            }
                        }

                        // 좌표 -> 주소
                        var geocoder = new kakao.maps.services.Geocoder();
                        function searchDetailAddrFromCoords(coords, callback) {
                            geocoder.coord2Address(coords.getLng(), coords.getLat(), callback);
                        }



                    </script>

                    <script>
                        document.getElementById("selectstarting").addEventListener('click', getstarting);
                        function getstarting(){
                                 document.getElementById('pstarting').value = document.getElementById('fulladdress').value;
                                 document.getElementById('pname1').value = document.getElementById('pname').value;
                                 document.getElementById('paddress1').value = document.getElementById('paddress').value;
                                 document.getElementById('latclick1').value = document.getElementById('latclick').value;
                                 document.getElementById('lngclick1').value = document.getElementById('latclick').value;
                                 alert("출발 지점의 정보를 가져옵니다.");
                        }

                        document.getElementById("selectdestination").addEventListener('click', getdestination);
                        function getdestination(){
                                 document.getElementById('pdestination').value = document.getElementById('fulladdress').value;
                                 document.getElementById('pname2').value = document.getElementById('pname').value;
                                 document.getElementById('paddress2').value = document.getElementById('paddress').value;
                                 document.getElementById('latclick2').value = document.getElementById('latclick').value;
                                 document.getElementById('lngclick2').value = document.getElementById('lngclick').value;
                            alert("도착 지점의 정보를 가져옵니다.");
                        }

                        document.getElementById("adventure").addEventListener('click', adventurestart);
                        function adventurestart(){
                                alert("탐험을 시작합니다");
                                searchDetailAddrFromCoords(presentPosition, function(result, status) {

                                // ===는 일치 연산자로, 값과 자료형이 완전히 일치하는지를 검사합니다.
                                // 이것은 느슨한 동등 비교 (==)와 달리 자료형까지 비교합니다.

                                if (status === kakao.maps.services.Status.OK) {
                                    window.open('https://map.kakao.com/?target=walk&sName=' + document.getElementById('pname1').value + '&eName=' + document.getElementById('pname2').value);
                                    }
                                });
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>