<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <h3 th:text="${member.username} + '님의 마이페이지입니다'"></h3>
    <h5> PK </h5> <p th:text="${member.id}"></p>
    <h5> 아이디 </h5> <p th:text="${member.username}"></p>
    <h5> 이메일주소 </h5> <p th:text="${member.email}"></p>
    <h5> 등록한 장소 </h5>
    <ul>
        <li th:each="target : ${member.targetlist}">
            <p th:text="${target.locationName}"></p>
        </li>
    </ul>
</div>
</body>
</html>