<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <table class="table">
        <thead>
        <tr class="text-center">
            <th scope="col">PK</th>
            <th scope="col">카테고리</th>
            <th scope="col">장소명 </th>
            <th scope="col">주소 </th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        <tr class="text-center">
            <td> PK (더미 데이터) </td>
            <td> DB_Category (더미 데이터) </td>
            <td> DB_Name (더미 데이터) </td>
            <td> DB_Address (더미 데이터) </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>